.splashscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 12px;
}

.space {
    margin-left: 10px;
}

.line1 {
    width: 10px;
    height: 95vh;
    background: #000;
    position: relative;
    -webkit-animation: myfirst 75s 2;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate;
    /* Safari 4.0 - 8.0 */
    animation: myfirst 48s;
    animation-direction: alternate;
}

.line2 {
    width: 10px;
    margin-left: 10px;
    height: 95vh;
    background: #000;
    position: relative;
    -webkit-animation: myfirst 75s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate;
    /* Safari 4.0 - 8.0 */
    animation: myfirst2 48s;
    animation-direction: alternate;
}

@keyframes myfirst {
    0% {
        background: #000;
        left: 0px;
        top: 0px;
    }
    100% {
        background: #000;
        left: 0px;
        top: 1000px;
    }
}

@keyframes myfirst2 {
    0% {
        background: #000;
        left: 0;
        bottom: 0;
    }
    100% {
        background: #000;
        left: 0;
        bottom: 1000px;
    }
}

body {
    margin: 0;
    font-family: 'Qwigley', cursive;
    background: #000;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.parallax-first {
    position: relative;
    background-image: url('../img/man.jpg');
}

.parallax-second {
    position: relative;
    background-image: url('../img/compass.jpg');
}

.parallax-third {
    position: relative;
    background-image: url('../img/boy.jpg');
}

.parallax-fourth {
    position: relative;
    background-image: url('../img/magic.jpg');
}

.parallax-fifth {
    position: relative;
    background-image: url('../img/snail.jpg');
}

.parallax-sixth {
    position: relative;
    background-image: url('../img/two.jpg');
}

.parallax-seventh {
    position: relative;
    background-image: url('../img/rain.jpg');
}

.parallax-eight {
    position: relative;
    background-image: url('../img/city.jpg');
}

.parallax-nine {
    position: relative;
    background-image: url('../img/bucket.jpg');
}

/* content css  */

.content {
    text-align: center;
    color: #fff;
    font-size: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 2px 2px #000;
}


footer {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background-color: #00a8b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* bucketlist css */

.bucketlist {
    background-image: url('../img/travel.jpg');
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bucketlist .container {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #fff 79px, #fff 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    height: 90vh;
    margin: 0 50% 0 0;
}

.title {
    font-size: 60px;
    text-align: center;
}

.list {
    font-size: 19px;
    font-family: monospace
}

.quotes {
    background-image: url('../img/pen.jpg');
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quotes .container {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #fff 79px, #fff 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    height: 90vh;
    margin: 0 0 0 50%;
}

.prose p {
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 2px;
}

.info {
    font-family: sans-serif;
    font-size: 30px;
    color: #fff;
}

.links a {
    display: inline;
    font-size: 30px;
    color: #fff;
    margin: 0 15px 0 0;
}

.profile {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 15px;
    border-radius: 15px;
    background-color: #000;
    box-shadow: 0 0 10px #2b1d18;
}

.designation {
    position: relative;
    font-size: 30px;
    font-weight: lighter;
    color: #000;
}

#overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 1;
    z-index: 1001;
    display: none;
}

@media screen and (max-width: 500px) {
    .quotes .container,
    .bucketlist .container {
        margin: 0;
    }
    .links a,
    .info {
        font-size: 15px;
    }
    .content {
        font-size: 20px;
    }
}