body {
    margin: 0;
    font-family: 'Qwigley', cursive;
}

.parallax {
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-first {
    background-image: url('../img/man.jpg');
}

.parallax-second {
    background-image: url('../img/compass.jpg');
}

.parallax-third {
    background-image: url('../img/boy.jpg');
}

.parallax-fourth {
    background-image: url('../img/magic.jpg');
}

.parallax-fifth {
    background-image: url('../img/snail.jpg');
}

.parallax-sixth {
    background-image: url('../img/two.jpg');
}

.parallax-seventh {
    background-image: url('../img/rain.jpg');
}

.parallax-eight {
    background-image: url('../img/city.jpg');
}

.parallax-nine {
    background-image: url('../img/bucket.jpg');
}

/* menu css */

.menu-logo {
    width: 60px;
    height: 60px;
}

.menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 10;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

/* overlay css */

.overlay {
    height: 100%;
    font-family: sans-serif;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -20px;
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #fff 79px, #fff 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    overflow-x: hidden;
    transition: 0.6s;
    margin-right: 20px;
}

.overlay-content {
    top: 50%;
    position: relative;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.overlay-content li {
    list-style: none;
    margin: 0;
    font-size: 24px;
}

.overlay .closebtn {
    position: absolute;
    top: 10%;
    right: 40%;
    text-decoration: none;
    color: #999;
    font-size: 40px;
}

.btn {
    border: 2px solid black;
    background-color: black;
    padding: 10px 15px;
    color: #fff;
    width: 200px;
    text-transform: uppercase;
    margin: 5px auto;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

/* content css  */

.content {
    text-align: center;
    color: #000;
    letter-spacing: 1.2px;
    background-color: #fff;
    font-size: 44px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 2px #000;
    padding: 10px;
    font-family: 'Qwigley', cursive;
}

footer {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background-color: #00a8b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* bucketlist css */

.bucketlist {
    background-image: url('../img/travel.jpg');
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bucketlist .container {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #fff 79px, #fff 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    height: 90vh;
    margin: 0 50% 0 0;
}

.title {
    font-size: 60px;
    text-align: center;
}

.list {
    font-size: 19px;
    font-family: monospace
}

.quotes {
    background-image: url('../img/pen.jpg');
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quotes .container {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #fff 79px, #fff 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    height: 90vh;
    margin: 0 0 0 50%;
}

.prose p {
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 2px;
}

.info {
    font-family: sans-serif;
    font-size: 30px;
    color: #fff;
}

.links a {
    display: inline;
    font-size: 30px;
    color: #fff;
    margin: 0 15px 0 0;
}

.profile {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 15px;
    border-radius: 15px;
    background-color: #000;
    box-shadow: 0 0 10px #2b1d18;
}

.designation {
    position: relative;
    font-size: 30px;
    font-weight: lighter;
    color: #000;
}

#overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 1;
    z-index: 1001;
    display: none;
}

@media screen and (max-width: 768px) {
    .overlay .closebtn {
        top: 0%;
        right: 8%;
    }
}

@media screen and (max-width: 500px) {
    .quotes .container,
    .bucketlist .container {
        margin: 0;
    }
    .links a,
    .info {
        font-size: 15px;
    }
}

.splashscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.space {
    margin-left: 10px;
}

.line1 {
    width: 10px;
    height: 100vh;
    background: #000;
    position: relative;
    -webkit-animation: myfirst 75s 2;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate;
    /* Safari 4.0 - 8.0 */
    animation: myfirst 58s ;
    animation-direction: alternate;
}

.line2 {
    width: 10px;
    margin-left: 10px;
    height: 100vh;
    background: #000;
    position: relative;
    -webkit-animation: myfirst 75s ;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate;
    /* Safari 4.0 - 8.0 */
    animation: myfirst2 58s ;
    animation-direction: alternate;
}
@keyframes myfirst {
    0% {
        background: #000;
        left: 0px;
        top: 0px;
    }
    100% {
        background: #000;
        left: 0px;
        top: 1000px;
    }
}

@keyframes myfirst2 {
    0% {
        background: #000;
        left: 0px;
        bottom: 0px;
    }
    100% {
        background: #000;
        left: 0px;
        bottom: 1000px;
    }
}